ul,li,ol,dd,dt,dl,p,body,h1,h2,h3,h4,h5,h6{
	margin:0;padding:0;
}
body,html{
	font-family:"微软雅黑";
	line-height: 1.5;
	background:#fff;
}
a,s{
	text-decoration:none;
	color:#666;
}
ul,li,ol,dl,dt,dd{
	list-style:none;
}
em,i{font-style: normal;}
/* 版心1222px */
.w{width:1222px;margin:auto;}
/* 全局fl 左浮动 */
.fl{float:left;}
/* 全局fr 右浮动 */
.fr{float:right;}
/* 全局icon小图  */
.icon{width:20px;height:20px;color:#fff;}
/* 顶部快捷导航栏 */

.header-one{
    background:#f2f1ea;}
.navbox{
    height:33px;}
.navbox .info a{
    width:640px;
    height:33px;
    color:#666;
    margin-left:5px;
    font-size:13px;
    line-height:33px;}
.navbox .fr{
    width:570px;
    height:33px;}
.navbox .fr li{
    float:left;}
.info a:hover{
    color:#8c222c;
}
.navbox .fr .acolor,.navbox .fr .noline,.area-adress,.area-adress2{
    line-height:33px; 
    display:inline-block; 
    color:#666;
    font-size:13px;
    margin-right:15px;}
.navbox .fr .acolor:hover{
    color:#8c222c;}

/* 二级菜单 */

.login{position: relative;}
.login ul{
	position: absolute;
	top:33px;left:-40px;
	background:#fff;
	display: none;
	z-index: 999;
	border:1px solid #ccc;
	padding:10px;
}
.login li{
	width:110px;
	text-align:center;
	padding:0 15px;
	margin-top:10px;}
	
.login li a{
	display: block;
	font-size:14px;
	background:#8c222c;
	color:#fff;
	border:none;
	border-radius: 3px;
}

.show-list ul{position: 
    absolute;
    top:33px;
    left:-40px;
    background:#fff;
    display: none;
    z-index: 999;
    border:1px solid #ccc;} 
.show-list li{
    width:110px;
    text-align:center;
    padding:0 15px;
    margin-top:5px;}
.show-list li img{
    width:110px;
    height:110px;
    margin:0 auto}
.navbox .fr li:nth-of-type(3),
.navbox .fr li:nth-of-type(5),
.navbox .fr li:nth-of-type(6),
.navbox .fr li:nth-of-type(7),
.navbox .fr li:nth-of-type(8){
	position: relative;}
.show-common ul{
    position: absolute;
    top:33px;
    left:0;
    background:#fff;
    z-index: 999;
    border:1px solid #ccc;
    border-top:none;
    padding:0 10px;
	display:none;}
.show-common ul li{
    text-align:center;
    white-space: nowrap;
    margin-top:3px;}
.show-common ul li span{
    font-size:13px;
    border-bottom: 1px solid #ccc;
    line-height:20px;color:#999;}
.show-common ul li a{
    display:block;
    color:#666;
    font-size:12px;
    text-align:left;}
/* 地址二级菜单 */
.area{
	position: relative;}
.area-box{
	position: absolute;
	top:33px;
	right:0;
	width:262px;
	background:#fff;
	z-index: 999;
    border: 1px solid #ccc;
    display: none;
}
.area-item{
	float: left;
    width: 39px;
    height: 20px;
	margin: 6px;
	
}
.area-item span{
	display: inline-block;
	width:49px;
    height: 20px;
    line-height: 20px;
	font-size: 12px;
    color: #666;
	cursor: pointer;
	text-align: center;
}

    
/* 客服部分 */
.help-inner{
    position: absolute;
    top:33px;left:0;
    background:#fff;
    z-index: 999;
    border:1px solid #ccc;
    border-top:none;
    padding:0 10px;
	display:none;}
.help-inner button,.help-inner p{
    white-space: nowrap;}
.help-inner button{
    font-size: 12px;
    color: #a5806d;
    line-height:25px;
    width:120px;
    margin:0 auto;
    margin-top:3px;
    border:none;
    border-radius: 2px; }
.help-inner p{
    font-size: 13px;
    line-height: 20px;
    color: #666;
    text-align: left;} 
.kefucall-1{
    margin:10px 0;}
.kefucall-1 em{
    font-size:12px;
    color:#000;
    display:block;}
.help-inner i{
    display:inline-block;
    font-size:10px;
    color: #666;}
/* 搜索部分 */
.header-two{
    background:#fff;}
.header-search{
    height:100px;}
.header-search .logo{
    width:263px;
    height:46px;
    margin-top:25px;}
.search-box{
    width:723px;
    height:100px;
    position: relative;}
.search-type{
    position: absolute;
    width:92px;
    height:24px;
    top:22px;
    left:5px;}
.item-type{
    color:#8c222c;
    width:42px;
    height:24px;
    float:left;
    line-height: 24px;
    cursor: pointer;
    font-size:12px;}
.search{
    width:670px;
    height:35px;
    position: absolute;
    top:45px;
    left:5px;}
.search input{
    width:570px;
    height:33px;
    border:2px solid #8c222c;
    padding:0 0 0 5px;
    outline: none;
    color:#989898;
	float: left;}
.search button{
    width:88px;
    height:37px;
    float:left;
    outline: none;
    background:#8c222c;
    border:0;
    cursor: pointer;
    color:#fff;
    font-size:16px;
    font-weight:bold;}
.searcher{
    width:35px;
    height:35px;
    position: absolute;
    right:5px;
    top:36px;}
.searcher a{
    font-size:12px;}
/* 顶部结束 */

/* 尼采活动图书 */
.bookcrad-box{
    margin-top:20px;}
.newbook{
    width:1222px;
    height:550px;
    float:left;}
.bookcrad-box{
    width:1222px;
    height:456px;
    display: flex;
    justify-content: space-between}
.newsquare-box{
    width:280px;
    height:434px;
    background:#fff;
    border:1px solid #ccc;}
.newsquare-img{
    width:280px;
    height:240px;}
.newsquare-text{
    width: 230px;
    padding:0 21px;}
.newsquare-title{
    font-size:14px;
    color:#333;}
.newsquare-dis{
    font-size:12px;
    color:#666;
    margin-top: 6px;
    height: 36px;
    line-height: 18px;
    overflow: hidden;}
.newsquare-tag{
    width: 100%;
    height: 36px;
    margin-top: 10px;
    border-bottom: 1px solid #e5e5e5;
	overflow: hidden;}
.newsquare-tag span{
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 13px;
    height:15px;
    border: 1px solid #dfc49b;
    padding: 5px 6px;color: #C28F42;
    margin-right: 9px; 
    margin-bottom: 12px;}
.newsquare-price{
    width:100%}
.baoyou,.time{
    color:#dfc49b;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    margin-top: 20px;}
.baoyou i,.time i{
    font-size:12px;
    color:#dfc49b;
    margin-left:5px;}
.time p,.time i{
    display: inline-block}
.buybtn button{
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #8c222c;
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
    border-radius: 2px;
    cursor: pointer;
    border:none;}


/* 菜单栏部分 */
.head-tab{
    height:40px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #b5aa9a;}
.head-tab a{
    float: left;
    display: block;
    height: 39px;
    margin-right: 30px;
    color: #666;
    font-weight: 500;}
/* 内容区 */
.search-wrap{
    height:4900px;
    
    margin-top:20px;}
.search-wrap-title{
    height:34px;
    width:100%;
    padding:10px;
}
.search-wrap-title span{
    line-height:34px;
}
.search-wrap-title span:last-child{
    color:#8c222c;
    font-weight: bold;
}
.search-wrap-box{
    height:4900px;
    width:1222px;
    border-top:1px solid #ccc;
   
}
/* 左侧 */
.search-wrap-box-l{
    width:180px;
    height:4900px;
    background:#f2f1ea;
    float:left;
    border-right:1px solid #ccc;
}
/* 右侧 */
.search-wrap-box-r{
    float:left;
    width:1000px;
    height:4780px;
}
.filter{
    height:269px;
    padding: 0 10px 16px 15px;
}
.filter-title{
    margin-top: 18px;
    padding-bottom: 1px;
    line-height: 20px;
    font-size: 16px;
    color: #999;
}
.one-level{
    display: block;
    margin-top:15px;
    line-height:20px;
    font-size:12px;
    font-weight:bold;
}
.two-level{
    line-height: 20px;
    display: block;
    color: #333;
    font-size: 12px;
    margin-left:12px;
}
.filter-top{
    height:40px;
    background:#f2f1ea;
    padding:5px;
    line-height:40px;
}


/* 分页 */
#pagination{text-align: center;margin-top: 40px;}
#pagination a,#pagination span{
    display: inline-block;
    width: 40px;
    height: 40px;
    color:white;
    background: skyblue;
    text-align: center;
    line-height: 40px;
    margin-left: 3px;
}
#pagination span.active{
    background: pink;
}
/* 渲染页面的布局 */
.search-wrap-box-content{
    width: 980px;
    height: 4900px;  
    margin: 0 auto;
    padding:10px;
}
.search-wrap-box-content .item{
    height: 230px;
    width: 970px;
    margin:0px 15px;
    border-bottom: 1px solid #ccc;
    margin-top:20px;
}
.imgbox{
    width: 150px;
    height: 220px;
    float:left;
}
.search-wrap-box-content .imgbox img{
   width:100%;
   height:100%;
}
.text{
    width:680px;
    height:160px;
    float:left;
    padding:30px;
}
.text p{
    width:100%;
    line-height: 30px;
    font-size: 18px;
    
}
.text i{
    font-size:15px;
    float:right;
    margin-right:10px;
}
.text span{
    width:100%;
    height:80px;
    line-height: 40px;
    font-size: 15px;
    display: inline-block;
}
