ul,li,ol,dd,dt,dl,p,body,h1,h2,h3,h4,h5,h6{
	margin:0;padding:0;
}
body,html{
	font-family:"微软雅黑";
	line-height: 1.5;
	background:#fff;
}
a,s{
	text-decoration:none;
	color:#666;
}
ul,li,ol,dl,dt,dd{
	list-style:none;
}
em,i{font-style: normal;}
/* 版心1222px */
.w{width:1000px;margin:auto;}
/* 全局fl 左浮动 */
.fl{float:left;}
/* 全局fr 右浮动 */
.fr{float:right;}
/* 全局icon小图  */
.icon{width:20px;height:20px;color:#fff;}
/* 顶部快捷导航栏 */

.header-one{
    background:#f2f1ea;}
.navbox{
    height:33px;}
.navbox .info a{
    width:640px;
    height:33px;
    color:#666;
    margin-left:5px;
    font-size:13px;
    line-height:33px;}
.navbox .fr{
    width:570px;
    height:33px;}
.navbox .fr li{
    float:left;}
.info a:hover{
    color:#8c222c;
}
.navbox .fr .acolor,.navbox .fr .noline,.area-adress,.area-adress2{
    line-height:33px; 
    display:inline-block; 
    color:#666;
    font-size:13px;
    margin-right:15px;}
.navbox .fr .acolor:hover{
    color:#8c222c;}

/* 二级菜单 */

.login{position: relative;}
.login ul{
	position: absolute;
	top:33px;left:-40px;
	background:#fff;
	display: none;
	z-index: 999;
	border:1px solid #ccc;
	padding:10px;
}
.login li{
	width:110px;
	text-align:center;
	padding:0 15px;
	margin-top:10px;}
	
.login li a{
	display: block;
	font-size:14px;
	background:#8c222c;
	color:#fff;
	border:none;
	border-radius: 3px;
}

.show-list ul{position: 
    absolute;
    top:33px;
    left:-40px;
    background:#fff;
    display: none;
    z-index: 999;
    border:1px solid #ccc;} 
.show-list li{
    width:110px;
    text-align:center;
    padding:0 15px;
    margin-top:5px;}
.show-list li img{
    width:110px;
    height:110px;
    margin:0 auto}
.navbox .fr li:nth-of-type(3),
.navbox .fr li:nth-of-type(5),
.navbox .fr li:nth-of-type(6),
.navbox .fr li:nth-of-type(7),
.navbox .fr li:nth-of-type(8){
	position: relative;}
.show-common ul{
    position: absolute;
    top:33px;
    left:0;
    background:#fff;
    z-index: 999;
    border:1px solid #ccc;
    border-top:none;
    padding:0 10px;
	display:none;}
.show-common ul li{
    text-align:center;
    white-space: nowrap;
    margin-top:3px;}
.show-common ul li span{
    font-size:13px;
    border-bottom: 1px solid #ccc;
    line-height:20px;color:#999;}
.show-common ul li a{
    display:block;
    color:#666;
    font-size:12px;
    text-align:left;}

/* 地址二级菜单 */
.area{
	position: relative;}
.area-box{
	position: absolute;
	top:33px;
	right:0;
	width:262px;
	background:#fff;
	z-index: 999;
    border: 1px solid #ccc;
    display: none;
}
.area-item{
	float: left;
    width: 39px;
    height: 20px;
	margin: 6px;
	
}
.area-item span{
	display: inline-block;
	width:49px;
    height: 20px;
    line-height: 20px;
	font-size: 12px;
    color: #666;
	cursor: pointer;
	text-align: center;
}
/* 客服部分 */
.help-inner{
    position: absolute;
    top:33px;left:0;
    background:#fff;
    z-index: 999;
    border:1px solid #ccc;
    border-top:none;
    padding:0 10px;
	display:none;}
.help-inner button,.help-inner p{
    white-space: nowrap;}
.help-inner button{
    font-size: 12px;
    color: #a5806d;
    line-height:25px;
    width:120px;
    margin:0 auto;
    margin-top:3px;
    border:none;
    border-radius: 2px; }
.help-inner p{
    font-size: 13px;
    line-height: 20px;
    color: #666;
    text-align: left;} 
.kefucall-1{
    margin:10px 0;}
.kefucall-1 em{
    font-size:12px;
    color:#000;
    display:block;}
.help-inner i{
    display:inline-block;
    font-size:10px;
    color: #666;}
/* 搜索部分 */
.header-two{
    background:#fff;}
.header-search{
    height:100px;}
.header-search .logo{
    width:233px;
    height:36px;
    margin-top:25px;}
.search-box{
    width:723px;
    height:100px;
    position: relative;}
.search-type{
    position: absolute;
    width:92px;
    height:24px;
    top:22px;
    left:5px;}
.item-type{
    color:#8c222c;
    width:42px;
    height:24px;
    float:left;
    line-height: 24px;
    cursor: pointer;
    font-size:12px;}
.search{
    width:670px;
    height:35px;
    position: absolute;
    top:45px;
    left:5px;}
.search input{
    width:570px;
    height:33px;
    border:2px solid #8c222c;
    padding:0 0 0 5px;
    outline: none;
    color:#989898;
	float: left;}
.search button{
    width:88px;
    height:37px;
    float:left;
    outline: none;
    background:#8c222c;
    border:0;
    cursor: pointer;
    color:#fff;
    font-size:16px;
    font-weight:bold;}
.searcher{
    width:35px;
    height:35px;
    position: absolute;
    right:5px;
    top:36px;}
.searcher a{
    font-size:12px;}
/* 顶部结束 */

/* 详情 */
.details{
    height:700px;
    }
/* 书名 */
.details-title{
    margin: 26px 0;
    line-height: 26px;
    color: #333;
    padding-left: 20px;}
.details-box{
    height:350px;
    position: relative;

}
/* 左侧 放大镜*/
.details-box-l{
    width:160px;
    height:160px;
    position: relative;
    box-shadow: 0 0 5px #000;
   
}
.details-box-l img{
    width:100%;
    height:100%;
}
.mo{
    width:100%;
    height:100%;
    margin-top:10px;
    position: absolute;
    z-index: 999;
}
.frame{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px #000;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-image: url(../img/book1.jpg);
    background-size: 160px 160px;
    background-position: 0 0 ;
    background-repeat:no-repeat ;
}
.big{
    width: 160px;
    height: 160px;
    position: relative;
    box-shadow: 0 0 5px #000;
    overflow: hidden;
    display: none;
    position: absolute;
    left:100px;
    top:0;
}
.big img{
    width: 640px;
    height: 640px;
    position: absolute;
    left: 0;
    top: 0;
}
.big{
    float: left;
    margin-left: 80px;
}



/* 中间 */
.details-box-r{
    width:510px;
    height:350px;
    
}
.details-box-r-top{
    width:490px;
    height:180px;
    padding:10px;
}

.top-left{
    width:290px;
    height:190px;
}
.top-right{
    width:200px;
    height:190px;
}
.top-left,.top-right{
    color:#666;
    font-size:12px;
    line-height:20px;
}
.details-box-r-bottom{
    width:490px;
    height:130px;
   
    padding:10px;
} 
.see img{
    width:30px;
    height:30px;
    margin-right:3px;
    margin-top:10px;
}
/* 隐藏 */

.details-box-r-bottom .see-info{
    color:#666;
    font-size:13px;
}
.details-box-r-bottom a{
    font-size:14px;
    color:#365899;
}
.see-info1{
    font-size:13px;
    color:#666;
    display: none;
    z-index: 999;
    background:#fff;
}


/* 右侧 */
.details-last{
    width:300px;
    height:350px;
}
.details-last-title{
    height:35px;
    border-bottom: 1px solid #ccc;
    margin-left:30px;
    margin-bottom: 20px;
}
.details-last-content{
    width:300px;
    height:315px;
}
.details-last-content li{
    width:110px;
    height:30px;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    margin-left:30px;
}
.details-last-content li a{
       font-size:12px;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
   }
.details-last-content li a:hover{
    color:#8c222c;
}

/* 好书推荐 */
.goodbook{
	width:1010px;
	height:610px;
	float:left;
	margin-top:10px;}
.booklist-title{
	height:35px;
	width:1010px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 5px;}
.booklist-title span{
	font-size:18px;
	font-weight: 700px;
	color:#333;}
.booklist-title i{
	font-size:12px;
	color:#999}
.booklist-title a{
	color:#0057a0;
	font-size:12px;}
/* 好书推荐内容 */
.goodbook-layout{
	height:550px;
	width:100%;display: flex;
	justify-content: space-between;
	flex-wrap: wrap;}
.goodbook-layout li{
	width:145px;
	height:234px;
	position: relative;}
.bookimg{
	width:140px;
	height:140px;}
.bookname{
	color:#333;
	font-size:12px;
	line-height:20px;
	text-align: center;
	word-break: break-all;
	max-height: 40px;
	line-height: 20px;
	padding:0 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;}
.bookauthor{
	color:#999;
	font-size:12px;
	line-height:20px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;}
.bookprice{
	font-size:15px;
	color: #bf7f5f;
	text-align: center;
	position: absolute;
	left:36px;
	bottom: 0;}
.bookprice i{
	font-size:12px;
	color:#999;
	margin-left:5px;}

